body
{
    background-color: #333;
    color: antiquewhite;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.frame
{
    width: 80vw;
    height: 500px;
    background-color: teal;

    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    gap: 30PX;

    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.question
{
    width: 90%;
    height: 150px;
    background-color: brown;

    display: flex;
    align-items: center;
    
    padding: 20px;
    box-sizing: border-box;
}

.answer
{
    width: 90%;
    height: 300PX;
    background-color: brown;

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.options
{
    width: 200px;
    height: 100px;
    background-color:slateblue;
    font-size: 1.7em;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}


.options:hover
{
    transform:scale(1.1);
}

.options:active
{
    transform: scale(0.9);
}